<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
    <ion-button routerLink="/login" color="primary">
      <ion-icon slot="icon-only" name="arrow-back" ></ion-icon>
    </ion-button>
  </ion-buttons></ion-toolbar>
</ion-header>

<ion-content>
  <div id="header">
    <h1>Password Reset</h1>
    <p>Pour choisir un nouveau mot de passe <br>Veuillez confirmer votre email de secours</p>
    <img src="assets/email.png ">
  </div>
  <form id="form">
    
    <app-input  id="email" type="email" placeholder="Confirmer l'email"></app-input>
    <ion-button expand="block" shape="round">Confirmer</ion-button>
    </form>

</ion-content>
