ion-content{
    --ion-background-color: linear-gradient(90deg,#33c5b2 0%,#4d71d7 100%);
    align-items: center;
    .points{
        padding: 200px 180px;
        justify-content: center;
        color: whitesmoke;
        font-size:90px;
        font-weight: 400;
        font: bolder;

    }
 
    
}