
<ion-header [translucent]="true">
  <ion-toolbar >
    <ion-title>Home</ion-title>

    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu" autoHide="false"></ion-menu-button>
  
    </ion-buttons>
  </ion-toolbar>
</ion-header>

  <ion-content>
    <ion-slides >
      <ion-slide ><h1 class="centered">Offre 1</h1>
     
      </ion-slide>
  
      <ion-slide >
        <h1 class="centered">Offre 2 </h1>
        
        
      </ion-slide>
  
      <ion-slide>
        <h1 class="centered">Offre 3 <button class="btn-grad">Voir  Plus...</button></h1>
         
    
      </ion-slide>
      
    </ion-slides>
  </ion-content>


