

<ion-content>
  <div class="header">
    <h2>Name Lorem</h2>
<div class="space-between">
  <div class="followings">
  <ion-badge color="primary" mode="ios">530</ion-badge>
  <p>Points</p>
</div>
<div class="border-blue">
<div class="border-white">
<div class="img-box">
  <img src="../../assets/image.jpg">
</div></div></div>
<div class="followings">
  <ion-badge color="primary" mode="ios">4</ion-badge>
  <p>Ipsum</p>
</div>
  </div>
</div>
<div class="settings">
<ion-list>
  <ion-item>
    <ion-label>Input</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label></ion-label>
    <ion-toggle slot="end"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label>Radio</ion-label>
    <ion-radio slot="end"></ion-radio>
  </ion-item>
  <ion-item>
    <ion-label></ion-label>
    <ion-checkbox slot="start"></ion-checkbox>
  </ion-item>
</ion-list>
</div>
</ion-content>
