

<ion-content>
  <div class="header">
    <h2>Name Lorem</h2>
<div class="space-between">
  <div class="followings">
  <ion-badge color="primary" mode="ios">530</ion-badge>
  <p>Points</p>
</div>
<div class="border-blue">
<div class="border-white">
<div class="img-box">
  <img src="../../assets/image.jpg">
</div></div></div>
<div class="followings">
  <ion-badge color="primary" mode="ios">4</ion-badge>
  <p>Ipsum</p>
</div>
  </div>
</div>
<div class="settings">

  <ion-item>
    <ion-label>Sexe</ion-label>
    <ion-select [(ngModel)]="Sexe" multiple="false">
      <ion-select-option>Femme</ion-select-option>
      <ion-select-option>Homme</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Date de naissance</ion-label>
    <ion-datetime value="1990-01-01" placeholder="Choisir Date"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Nom </ion-label>
    <ion-input ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Prenom</ion-label>
    <ion-input ></ion-input>
  </ion-item>
  <ion-item >
    <ion-label fontsize="20px" position="stacked">Adresse Complete</ion-label>
    <ion-input placeholder="Address Line 1"></ion-input>
    <ion-input placeholder="Address Line 2"></ion-input>
    <ion-input placeholder="City"></ion-input>
    <ion-input placeholder="State"></ion-input>
    <ion-input placeholder="Zip Code"></ion-input>
  </ion-item>
</div>
</ion-content>
